.navigation__box {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  margin:  10px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  color: #ffff;
  transition: color 300ms ease, background-color 300ms ease;
}

.link a {
  vertical-align: middle;
}

.link:first-child {
  margin-right: 10px;
}

.link:hover,
.link:focus {
  background-color: #4f83cc;
}

.link.activeLink {
  background-color: #4f83cc;
}