.title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #002f6c;
}

.sub_title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: #002f6c;
}
