.user__menu {
  display: flex;
  align-items: center;
}

.welcome__user {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  color: #ffff;
  margin-right: 15px;
}

.logout__button {
  text-decoration: none;
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
  margin:  10px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  color: #ffff;
  background-color: #4f83cc;
  transition: color 300ms ease, background-color 300ms ease;
}

.logout__button:hover,
.logout__button:focus {
  background-color: #4f83cc;
  color: #212121;
}

.user_name{
  margin-left: 10px;
  color: red;
  font-size: 20px;
  font-weight: 700;
}